{% extends 'index.html' %}
{% load static %}
{% block bodycontainer %}
<title>Transaction Details</title>
<div class="container">
  

  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12  d-block">

      <h1 style="text-align: center; font-weight: bolder;  font-family: 'Courier New', Courier, monospace; ">Transaction
        Details</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Reciever</th>
            <th>Transfer Amount</th>
            <th>Date Of Transaction</th>
          </tr>
        </thead>
        <tbody>
          {% for i in transaction %}
          <tr>
            <td>{{i.sender}}</td>
            <td>{{i.reciever}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.date_tran}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock bodycontainer %}